menu "CMF"

config CMF_LVGL
    bool "Include LVGL extension"
    default "n"

config CMF_LGFX
    bool "Include LGFX extension"
    default "n"

config CMF_AUDIO
    bool "Include audio extension"
    default "n"

config CMF_CAMERA
    bool "Include camera extension"
    default "n"

config CMF_WIFI
    bool "Include WiFi extension"
    default "n"

menu "I2C settings"

    config CMF_I2C_default_timeout
        int "Number of ticks for timeout in I2C scan/probe operations (Default)"
        range 1 1000
        default 5
        help
            Some hardware implementations require larger timeout windows.
            Increase this value in case of I2C probe errors, while 5 ticks should be enough for most boards.
            Value should be lowest-possible to keep blocking times during init reasonably short.
endmenu

config CMF_MODULES
    bool "Enable Modules service"
    default "n"

    menu "Supported modules"
        depends on CMF_MODULES

    config RM_TempHum
        bool "RM_TempHum module"
        default "n"
    config RM_LED
        bool "RM_LED module"
        default "n"
    config RM_Motion
        bool "RM_Motion module"
        default "n"
    config RM_CO2
        bool "RM_CO2 module"
        default "n"
    config RM_IR
        bool "RM_IR module"
        default "n"
    config RM_PerfBoard
        bool "RM_PerfBoard module"
        default "n"

    endmenu

endmenu